<% /* Получение входных данных */ %>
<% var data = !data ? require('./data.json') : data %>

<div id="<%= data.containerId %>" data-js-map-options="<%= JSON.stringify(data) %>"
    style="width: <%= data.geometry.width %>; height: <%= data.geometry.height %>;" >
</div>